<app-admin-navbar></app-admin-navbar>
<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12" style="background-color: rgba(255, 255, 255, .9);">
               <h2 class="text-center">Chart Management</h2>
            </div>
        </div>
    </div>
    <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
            (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
               <p class="m-0"> Drop files here or </p>
              <button type="button" (click)="openFileSelector()">Browse Files</button>
              <button type="button" class="btn btn-primary" (click)="uploadFiles()">Upload</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table" *ngIf="hasItem">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="displayFiles m-5">
        <h5 class="text-center">Uploaded Files</h5>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>File Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploadedFiles; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item}}</td>
                </tr>
            </tbody>         
        </table>
    </div>
   
</main>
  <!--Main layout-->
