<app-client-navbar></app-client-navbar>
<main>
    <div class="map-view">
        <div class="map" id="map" class="match-parent"></div>
    
        <div class="mapTypeId">
            <button class="btn text-center" (click)="onChartClick()"> Charts</button>
        </div>
    
        <div class="chart-content" *ngIf = "isChartBtnClicked">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="New Files">
                    <div class="newFiles">
                            <section class="example-section">
                                <div *ngFor = "let item of newFiles; let i = index">
                                    <div class="d-flex checkboxDiv">
                                        <input type="checkbox" class="example-margin" (change)="onChange('newFiles')" [(ngModel)]="item.isSelected">
                                        <label>{{ item.name }}</label>
                                    </div> 
                                </div>
                            </section>  
                            <div class="requestBtnDiv" *ngIf="showRequest">
                                <button class="btn btn-primary" (click)="getRequestedNewFiles()">Request</button>
                            </div>
                        <div *ngIf="newFiles.length <= 0" class="text-center"> No items Found </div>
                    </div>
                </mat-tab>
                <mat-tab label="Permitted Files">
                    <div class="Source files">
                        <h5 class="ms-3">Chart Styles</h5>
                        <div class="sample-wrapper">
                            <div class="combo-section">
                                <igx-combo #combo [data]="mapSources" displayKey="name" valueKey="id" placeholder="Sources" [(ngModel)]="selectedStyles"></igx-combo>

                                <button igxButton (click)="onSelectSource()">Select source</button>
                            </div>
                        </div>                        
                    </div>
                    <div class="permittedFiles ">
                        <h5 class="ms-3">Permitted Files</h5>
                            <section class="example-section">
                                <div *ngFor = "let item of permittedFiles; let i = index">
                                    <div class="d-flex checkboxDiv">
                                        <input type="checkbox" class="example-margin" (change)="onPermitChange('permittedFiles')" [(ngModel)]="item.isSelected">
                                        <label>{{ item.name }}</label>
                                    </div> 
                                </div>
                            </section>  
                            <div class="requestBtnDiv" *ngIf="showRequest2">
                                <button class="btn btn-primary" (click)="removeENC();">Remove</button>
                            </div>
                        <div *ngIf="permittedFiles.length <= 0" class="text-center"> No items Found </div>
                    </div> 
                </mat-tab>
            </mat-tab-group>
        </div>
          
    </div>
</main>