

  main {
      margin-top: 30px;
    padding-left: 280px;
  }


.map-viewport {
	position: relative;
	width: 100%;
	height: 100%;
}
.match-parent {
  position: absolute;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
}

.mapTypeId {
  position: absolute;
  top: 70px;
  left: 280px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapTypeId .btn{
  width: 175px;
}

.chart-content{
  position: absolute;
  top: 108px;
  left: 280px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-section{
  display: flex;
  flex-direction:column;
}

.extendHeight{
  height: calc(90vh - 30px) !important;
  display:flex;
  flex-direction:column;
}

.extendHeight2{
  height: calc(90vh - 250px) !important;
  display:flex;
  flex-direction:column;
}


.requestBtnDiv{
  margin-left: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.checkboxDiv{
  padding: 10px 0 10px 10px;
  gap:20px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}


@media screen and (max-width: 991px) {
  main {
  padding-left: 120px;
 }
 .match-parent {
  left: 100px;
 }
 
.chart-content{
  left: 130px;
  }
  .mapTypeId {
    left: 130px;
  }

}

button {
  margin: 0 8px;
}

.sample-wrapper {
  margin: 16px;
}

.combo-section {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-bottom: 16px;
}

.combo {
  width: 430px;
}

@media (max-width: 700px) {
  button {
      margin: 16px 0;
  }
}
